@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');


.App {
  text-align: center;
}

input{
  height: 20px;
  margin-bottom: 3px;
}

button{
  height: 25px;
  width: 80px;
  border-radius: 10%;
  text-align: center;
  margin-left: 3px;
  border-radius: 10%;
  margin-bottom: 3px;
  background-color: black;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  background-color: black;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
}

.App-link {
  color: #61dafb;
}


