.main {
  flex: 1;
  text-align: center;
  justify-content: center;
  margin: auto;
  line-height: 2rem;
}

body{
  background-color: white;
}

/* div:first-child{
  background-color: #FFF6E8;
} */

.card {
  width: 500px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  backdrop-filter: blur(5px);
  margin: auto;
  text-align: center;
  margin-top: 100px;
  border: 1px solid lightgrey;
}



.main h1 {
  margin: auto;
  text-align: center;
  justify-content: center;
  line-height: 1.4;
}

.main h2 {
  margin-bottom: 20px;
}

h1, h2{
    margin: auto;
    text-align: center;
    justify-content: center;
    line-height: 1.4;
}

.comment {
  margin: auto;
  width: 45vw;
}


img {
  border: none;
}

.icones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row-flex-spaces {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-direction: column;
}

.cards{
  margin: auto;
  width: 50vw;
  border: 1px solid black;
}


input{
  margin: auto;
  width: 50vw;
  margin-bottom: 8px;
}

.feedWrapper{
  display: grid;
  gap: 20px;
  max-width: 300px;
  align-content: center;
  margin: auto;
}






